@inherits FooterBase

<div class="footer">
    <div class="footerNavbar">
        <ul class="footerUl">
            <li style="margin-right:2em">
                <NavLink class="nav-link" href="overMe" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-person" aria-hidden="true"></span> Über mich
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="contact" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-map" aria-hidden="true"></span> Kontakt
                </NavLink>
            </li>
        </ul>
    </div>
    <div class="companyName">
        <p>Firmen-Name</p>
    </div>
</div>
