.footer {
    margin-top: 3em;
    box-shadow: 0px -20px 20px 0px #84acd8, inset 15px -17px 16px 6px #ffffff;
}

.footerNavbar {
}

.footerUl {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.companyName {
    width: 100%;
    text-align: center;
}

/*Anfgangen mit dem Login, Regristireung, About me usw*/
