.footer {
    background-color: #95d5b2;
}

.footerNavbar {
}

.footerUl {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.companyName {
    width: 100%;
    text-align: center;
}

/* Small Devices */
@media only screen and (max-width: 570px) {
    .footer {
        margin-top: 2em;
    }

}