@inherits LayoutComponentBase

<div class="holePage">
    <NavMenu />

    <div class="main">
        <div class="content px-4">
            <div class="paperPic">
                @Body
            </div>
        </div>
    </div>
</div>
