
<div class="navbar">
    <ul class="navUlNormal">
        <li style="margin: 0em 10em 0em 0em;" >
            <NavLink class="nav-link" href="" Match="NavLinkMatch.Prefix">
                <span class="oi oi-home" aria-hidden="true"></span>
            </NavLink>
        </li>
        <li style="margin-right:2em">
            <NavLink class="nav-link" href="overMe" Match="NavLinkMatch.Prefix">
                <span class="oi oi-person" aria-hidden="true"></span> Über mich
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="contact" Match="NavLinkMatch.Prefix">
                <span class="oi oi-map" aria-hidden="true"></span> Kontakt
            </NavLink>
        </li>
    </ul>
    <ul class="navUlLogin">
        <li>
            <NavLink class="nav-link" href="login" Match="NavLinkMatch.Prefix">
                <span class="oi oi-plus" aria-hidden="true"></span> Login
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="register" Match="NavLinkMatch.Prefix">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Registrieren
            </NavLink>
        </li>
    </ul>
</div>

@code {
}
