.navbar {
    font-size: larger;
    border-bottom: white solid 2px;
    background-color: #95d5b2;
}

.menuIcon {
    display: none;
}

.navUlNormal {
    display: flex;
    list-style-type: none;
    width: 35%;
    justify-content: flex-start;
}

.navUlLogin {
    display: flex;
    list-style-type: none;
    width: 35%;
    justify-content: flex-end;
}

.navlink {
    color: darkgreen;
}

.logedin {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.notClicked {
    width: 100%;
}


.navLinks {
    display: flex;
    justify-content: space-between;
}

/* Small Devices */
@media only screen and (max-width: 570px) {
    .navUlNormal {
        flex-direction: column;
    }

    .menuIcon {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .navLinks {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .navbar {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .notClicked {
        display: none;
    }

    .navUlNormal, .navUlLogoutAndName {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navUlLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navLinks > ul > li {
        background-color: #b7e4c7;
        margin-bottom: 0.5em;
        border-radius: 20px;
    }

    .navUlLogoutAndName {
        list-style: none;
    }

    .name {
        padding: 0.3em
    }
}
