.navbar {
    font-size: larger;
    border-bottom: white solid 2px;
    background-color: #95d5b2;
}

.navUlNormal {
    display: flex;
    list-style-type: none;
    width: 35%;
    justify-content: center;
}

.navUlLogin {
    display: flex;
    list-style-type: none;
    width: 35%;
    justify-content: flex-end;
}

.navlink {
    color: darkgreen;
}

.logedin{
    display:flex;
    width:15%;
    justify-content:space-between;
}
