.mainContact {
    display: flex;
    justify-content: center;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3em;
    border: solid 2px #1b4332;
}

.mainContainer > div {
    margin-bottom: 1em;
}

.mainHeader {
    text-align: center;
    font-weight:normal;
    font-size: 2em;
    color: #1b4332;
}
.btSend{
    display:flex;
    justify-content:center;
}
