.mainContact {
    display: flex;
    justify-content:center;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em;
}

.mainContainer > div {
    margin-bottom: 1em;
}

.mainHeader {
    text-align: center;
    font-size: x-large;
    font-weight: lighter;
    color: #5076a0;
}
