/*
X-Small	None< 576px
Small	sm	≥ 576px
Medium	md	≥ 768px
Large	lg	≥ 992px
Extra large	xl	≥ 1200px
Extra extra large	xxl	≥ 1400px
*/

.homeHeader {
    text-align: center;
    font-weight: lighter;
    color: #1b4332;
    margin-bottom: 1em;
}

.posts {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.post {
    display: flex;
    height: 700px;
    flex-wrap: wrap;
}

    .post:hover {
        background-color: #d8f3dc;
    }

.name {
    text-align: center;
    width: 100%;
}

.description {
    width: 100%;
    align-self: center;
}

.bottomPost {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tag {
    display: flex;
}

.singleTag {
    border: 2px solid #dee0e2;
    border-radius: 10px;
}

.tools{
}

.editPost {
    width: 100%;
    text-align: right;
    height: 40px;
}

.postNewButton {
    margin-bottom: 1em;
}