@page "/"
@inherits HomeBase

<h1 class="homeHeader">Beiträge</h1>

@if (ViewModel.IsLoading)
{
    <p>Lade...</p>
}
else
{
    <div class="posts">
        @foreach (var post in ViewModel.PostList)
        {
            <div class="tools">
                <div class="editPost">
                    <RadzenButton Click="ViewModel.EditMode"> <Pencil Width="24" Height="24" /> </RadzenButton>
                </div>
            </div>
            <RadzenCard Style="width: 25%;
                         height: 700px;
                         flex: 0 0 auto;
                         margin-right: 1em;
                         cursor: pointer; " @onclick="(()=>ViewModel.OpenSelectedPost(post))">
                <div class="post">
                    <div class="name">
                        <h3>@post.Name</h3>
                    </div>
                    <div class="description">
                        <p>@post.Description</p>
                    </div>
                    <div class="bottomPost">
                        <div class="categories">
                            Kategorie: @ViewModel.Categorys(post.PostCategories)
                        </div>
                        <div class="tags" style="display: flex;">
                            <div class="tagCaption">
                                Tags:
                            </div>
                            <div class="tag">
                                @if (post.PostTags.Any())
                                {
                                    @foreach (var post in post.PostTags)
                                    {
                                        <p class="singleTag">@post.Tag.Name</p>
                                    }
                                }
                                else
                                {
                                    <p>Keine Tags gefunden...</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </RadzenCard>
        }
    </div>
}

