.homeHeader {
    text-align: center;
    font-weight: lighter;
    color: #5076a0;
    margin-bottom:1em;
}

.posts {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.post {
    display: flex;
    height: 700px;
    flex-wrap: wrap;
}

    .post:hover {
        background-color: rgb(245,245,245);
    }

.name {
    text-align: center;
    width: 100%;
}

.description {
    width: 100%;
    align-self: center;
}

.bottomPost {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tag {
    display: flex;
}

.singleTag {
    border: 2px solid #dee0e2;
    border-radius: 10px;
}

.tools{
}

.editPost {
    width: 100%;
    text-align: right;
    height: 40px;
}

.postNewButton {
    margin-bottom: 1em;
}