@page "/overMe"

@inherits OverMeBase

    <div class="aboutMe">
        <div class="head">
            <h1 class="overMeHeader">Über mich</h1>
            <p class="shortAboutMe">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla quis augue sit amet lacinia. Nullam nunc sapien, congue quis odio ac, consectetur sagittis ipsum. Pellentesque facilisis ipsum at neque consectetur dictum. Duis tincidunt lectus vitae quam sagittis, id lobortis nibh lacinia. Sed ac turpis semper lectus bibendum varius. Phasellus in nibh mauris. Aliquam et magna sed turpis dictum lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce vehicula pharetra sodales.
            </p>
        </div>
        <div class="content">
            <div class="image">
                <img class="aboutMeImage" src="/Images/AboutMeImage.png" />
            </div>
            <div class="text">
                <div class="aboutMeName">
                    Sarmad Ahmad
                </div>
                <div class="aboutMeWork">
                    Software Developer
                </div>
                <div class="aboutMeMainText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla quis augue sit amet lacinia. Nullam nunc sapien, congue quis odio ac, consectetur sagittis ipsum. Pellentesque facilisis ipsum at neque consectetur dictum. Duis tincidunt lectus vitae quam sagittis, id lobortis nibh lacinia. Sed ac turpis semper lectus bibendum varius. Phasellus in nibh mauris. Aliquam et magna sed turpis dictum lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce vehicula pharetra sodales.

                    Donec nisl massa, mollis id ante vel, ultricies finibus diam. Vestibulum eget nisl quam. Mauris tortor felis, faucibus vitae pulvinar quis, sagittis vel ligula. Fusce diam tortor, porttitor eget malesuada quis, porta nec dolor. Nulla elit tellus, laoreet sit amet metus ac, venenatis pretium purus. Fusce tincidunt semper nisi quis porttitor. Maecenas gravida vulputate leo, ac dapibus dolor tempus sit amet. Mauris cursus dolor vitae ultrices tristique. Aliquam erat volutpat. Vivamus sodales gravida sapien in accumsan. Phasellus vel euismod purus. Morbi hendrerit eget urna ut dictum. Nulla convallis augue eros. Curabitur tempus, erat quis luctus fringilla, sapien massa semper ex, at suscipit libero nisi lacinia magna. Cras ac accumsan lacus, at semper elit. Donec magna enim, pellentesque sit amet nisi et, cursus lobortis lacus.

                    Vestibulum eu bibendum nisi. Nunc blandit eleifend quam, et semper risus ultrices non. Cras tincidunt nunc eu est volutpat, sit amet fermentum est fringilla. Donec non neque laoreet, iaculis magna a, sollicitudin nisi. Integer pulvinar, libero vitae bibendum aliquet, est felis pellentesque magna, nec semper nisl magna nec metus. Proin facilisis consequat neque quis venenatis. Etiam et sapien massa. Fusce ultrices vestibulum nibh, non auctor nisi efficitur pretium. Praesent faucibus ipsum tincidunt egestas iaculis. Aliquam venenatis turpis nec neque dignissim tempus. Ut mauris orci, placerat a egestas eu, auctor a dui. Morbi auctor odio ut lectus malesuada, sed suscipit nisl eleifend. Curabitur sem ante, viverra tempor rutrum in, dignissim non neque. Suspendisse potenti.

                    Vestibulum at dignissim mauris, eu lacinia ipsum. Ut id urna porta, tempor felis nec, feugiat leo. Morbi in fringilla arcu. Sed nec efficitur risus, vitae tempor neque. Ut quis imperdiet nisl. Sed sapien dolor, hendrerit et semper mollis, eleifend in augue. Etiam scelerisque elit dignissim neque euismod aliquam.

                    Aenean at porta leo. Ut id congue neque. Mauris sagittis condimentum ligula quis aliquam. Donec eu neque mattis, congue eros ut, fermentum enim. Pellentesque a quam quis ipsum rhoncus accumsan. Ut id tincidunt nulla, at tempus eros. Praesent vestibulum lacus eu commodo mollis. Morbi id mauris eu nisi sollicitudin blandit. Etiam vel tortor rhoncus, cursus erat vitae, porta tellus. Sed sed odio arcu.
                </div>
            </div>
        </div>
    </div>

    <Footer />
