.overMeHeader {
    text-align: left;
    font-weight: lighter;
}

.image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.aboutMeImage {
    width: 43%;
    border-radius: 140px;
    border: solid #1b4332;
}

.text {
    width: 50%;
}

.content {
    display: flex;
}

.aboutMeName {
    font-weight: bold;
}

.aboutMeWork {
    color: #40916c;
}
