.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorReadTime {
    display: flex;
    justify-content: space-evenly;
}

.authorReadTime {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: gray;
}

.postCaption {
    text-align: center;
}

.author {
    width: 75%;
    text-align: start;
}

.authorReadTimeContent {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 1em;
}

.categories {
    width: 50%;
}

.tags{
    display:flex;
    width:50%;
}

.tag {
    display: flex;
}

.singleTag {
    border: 2px solid #dee0e2;
    border-radius: 10px;
}

/* Small Devices */
@media only screen and (max-width: 570px) {
    .authorReadTimeContent {
        width: 100%;
    }

    .categories {
        width: 100%;
    }

    .postCaption {
        font-size: 12;
    }

    .tags{
        width:100%;
    }
}
