@page "/post"

@inherits PostBase

<h3>@ViewModel.SelectedPost.Name</h3>

<p>@ViewModel.SelectedPost.Text</p>

<Footer />

@*Footer ist eingebaut (kann ein bissichen schöner sein). Nun mit dem Post-Inhalt anfangen, wie Author, Lese-Zeit usw. einbauen*@
