@page "/userManagement";
@inherits UserManagementBase

<h2>Benutzer</h2>
<RadzenDataGrid Data="@ViewModel.UserList" TItem="User" AllowVirtualization="true"
                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.Or"
                AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="User" Property="Login" Title="Login" />
        <RadzenDataGridColumn TItem="User" Property="Email" Title="Email" />
        <RadzenDataGridColumn TItem="User" Property="Firstname" Title="Firstname" />
        <RadzenDataGridColumn TItem="User" Property="Lastname" Title="Lastname" />
    </Columns>
</RadzenDataGrid>